@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins";
    color: white;
}

#app-container{
    border: 1px solid black;
    padding: 50px;
    width: 650px;
    margin: 50px auto;
    background-color: rgb(0, 0, 0);
}

.header-1{
display: flex;
justify-content: space-between;
align-items: center;

}

.header-1 .CurrentChain{
    padding: 10px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: rgb(26, 44, 243);
    color: white;
    font-weight: 600;
    font-family: "Poppins";
    margin-left: 20px;
}

.WalletConnectBtn{
    padding: 10px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: rgb(243, 26, 26);
    color: white;
    cursor: pointer;
    font-weight: 600;
 }

#app-container .transfer-interface .UserBal-Container{
    display: flex;
}

.transfer-interface{
    padding: 40px;
}

.transfer-interface input{
    padding: 10px;
    border-radius: 30px;
    width: 400px;
    margin: 5px 0px;
    border: 1px white solid;
    outline: none;
}

.UserBal-Container .UserBal{
    margin-left: 3px;
}

.SendBtn{
    padding: 10px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: rgb(26, 44, 243);
    color: white;
    cursor: pointer;
    font-weight: 600;
    width: 100px;
    margin-top: 10px;
}

.smth{
    display: flex;
align-items: center;
justify-content: center;
margin-top: 10px;
}

.WalletAddress{
    margin-left: 10px;
}

.main{
    display: flex;
}

 .transactions{
    padding: 20px;
    background-color: rgb(17, 40, 243);
    width: 600px;
    margin-right: 40px;
    margin-top: 20px;
}

.transactions p{
    font-size: 20px;
}

